html, body, #weather{
    width: 99%;
    height: 95vh;
}

#weather {
    overflow: hidden;
    position: relative;
}

#horizon{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 15;
}

#day, #night {
    height: 200%;
    width: 100%;
    position: absolute;
    top: 0;
}