html, body, #weather{
    width: 100%;
    height: 100vh;
	margin: 0px;
}

#weather {
    overflow: hidden;
    position: relative;
}

#horizon{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 5%;
	width: 100%;
	z-index: 15;
}

#day, #night {
    height: 200%;
    width: 100%;
    position: absolute;
    top: 0;
}

#time_weather{
	position: absolute;
	bottom: 5%;
	margin: 0 auto;
	width: 80%;
	color: white;
	display: flex;
}

#tw_time{
	flex: 2;
	font-size: 5vw;
	text-align: right;
}

#tw_weather{
	flex: 1;
	text-align: left;
}

#tw_weather ul{
	list-style: none;
}